body {
    color: #000;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin:0;
    padding: 0;
    display:block;
}
*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    width: 100%;
    position: absolute;
    z-index:1;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
@media screen and (max-width: 767px){
    header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 1080px){
    header {
        background-color: #fff;
        z-index: 10;
        position: fixed !important;
    }
}
.Header_Container {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;
}
@media screen and (max-width: 767px){
    .Header_Container {
        max-width: 100%;
        margin: 0 20px;
    }
}    



/*logo*/
a {
    color: #000;
    text-decoration: none;
}
@media screen and (min-width: 768px){
    a:hover {
        opacity: 0.8;
    }
}  
.HeaderLogo_image-pc {
    display: block;
    height: 20px;
    width: auto;
}
@media screen and (max-width: 767px){
    .HeaderLogo_image-pc {
        display: none;
    }
}    

.HeaderLogo_image-sp {
    display: none;
    height: 16px;
    width: auto;
}
@media screen and (max-width: 767px){
    .HeaderLogo_image-sp {
        display: block;
    }
}   
img {
    vertical-align: middle;
}
.Header_Container>*:last-child {
    display: inline-flex;
}


/*ヘッダーメニュー*/
nav{
    display:block;
}
.HeaderNavHamburger {
    display: none;
}
@media screen and (max-width: 1080px){
    .HeaderNavHamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 21px;
        z-index: 100;
    }
}    

@media screen and (max-width: 1080px){
    .HeaderNavHamburger_line:first-child {
        top: 0;
    }
}    
@media screen and (max-width: 1080px){
    .HeaderNavHamburger_line:last-child {
        top: 100%;
    }
}    
@media screen and (max-width: 1080px){
    .HeaderNavHamburger_line {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        transform: translate(0, -50%);
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
    
}    
ul{
    display:none;
    padding:0;
    list-style-type:none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px){
    ul {
        top: 52px;
    }
}    
@media screen and (max-width: 1080px){
    ul{
        overflow-y: scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform 0.5s;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
}   
.HeaderNavListItem {
    margin-right: 45px;
}
@media screen and (min-width: 768px){
    .HeaderNavListItem {
        transition: opacity 0.2s;
    }
}    
@media screen and (max-width: 1080px){
    .HeaderNavListItem {
        margin-right: 0;
    }
}   
.HeaderNavListItem_link {
    display: block;
}
@media screen and (max-width: 1080px){
    .HeaderNavListItem_link {
        padding: 20px 0;
    }
}    
.HeaderNavListItem_link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 1080px){
    .HeaderNavListItem_link>span:first-child {
        font-size: 16px;
        letter-spacing: 5px;
        color: #fff;
    }
}    
.HeaderNavListItem_link>span:first-child {
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1080px){
    .HeaderNavListItem_link>span:last-child {
        font-size: 12px;
        margin-top: 10px;
        color: #F79214;
        letter-spacing: 2px;
    }
}    
.HeaderNavListItem_link>span:last-child {
    font-size: 10px;
}
.HeaderNavListItem:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 1080px){
    .HeaderNavListItem:last-of-type {
        margin-top: 20px;
    }
}    
.HeaderNavListItem_button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
@media screen and (max-width: 1080px){
    .HeaderNavListItem_button {
        font-size: 16px;
        margin: 0 auto;
        height: 60px;
        width: 250px;
    }
}    





/*メインパート*/
main {
    display: block;
}
@media screen and (max-width: 767px){
    main {
        padding-top: 52px;
    }
}    
@media screen and (max-width: 1080px){
    main {
        padding-top: 60px;
    }
}    

/*背景画像*/
.FirstView {
    background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}
@media screen and (max-width: 767px){
    .FirstView {
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }
        .FirstView_main-image-sp{
        display: block;
    }
}   
.FirstView_main-image-sp{
    display: none;
}

.FirstView_main-image-sp {
    width: 100%;
}

/**/
.FirstView_container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media screen and (max-width: 767px){
    .FirstView_container {
        margin-top: -45vw;
    }
}    
    @media screen and (max-width: 767px){
    .FirstView_container {
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}    
.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}
@media screen and (max-width: 767px){
    .FirstViewContent {
        margin-bottom: 20px;
        width: 100%;
    }
}    
.FirstViewContent_title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
} 
@media screen and (max-width: 767px){
    .FirstViewContent_title {
        font-size: 25px;
        line-height: 36px;
        margin-left: calc(((100vw - 100%) / 2) * -1);
        margin-right: calc(((100vw - 100%) / 2) * -1);
    }
}    
.FirstViewContent_images {
    margin-bottom: 25px;
}
@media screen and (max-width: 767px){
    .FirstViewContent_images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
}
.FirstViewContent_images img {
    margin-right: 8px;
}
.FirstViewContent_images img:nth-of-type(2) {
    width: 40%;
}
.FirstViewContent_images img:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 767px){
    .FirstViewContent_images img {
        width: 27.5%;
    }
}    
.FirstViewContent_buttons {
    display: flex;
}
@media screen and (max-width: 767px){
    .FirstViewContent_buttons {
        flex-direction: column;
    }
}    
.FirstViewContent_buttons a {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 64px;
}
@media screen and (max-width: 767px){
    .FirstViewContent_buttons a {
        font-size: 14px;
        width: 100% !important;
    }
}    
.FirstViewContent_buttons a:first-of-type {
    margin-right: 15px;
    width: 306px;
}
@media screen and (max-width: 767px){
    .FirstViewContent_buttons a:first-of-type {
        margin-right: 0;
        margin-bottom: 10px;
    }
}    
.FirstViewContent_buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    color: #000;
    width: 176px;
}
@media screen and (max-width: 767px){
    .FirstViewContent_buttons a:last-of-type {
        height: 45px;
    }
}    
@media screen and (max-width: 767px){
    .FirstViewContent_buttons a:last-of-type {
        display: none;
    }
}    
p {
    color: #000;
}
p {
    line-height: 1.5;
}
.FirstViewCaption {
    color: #A2A2A4;
    font-size: 12px;
}
.FirstViewCaption a {
    color: #A2A2A4;
}


/*オレンジカラー部分（POTEPANCAMPとは）*/
.AboutWrapper {
    padding: 110px 0;
    background-color: #F79214;
    padding: 45px 0;
}
@media screen and (max-width: 767px){
    .AboutWrapper {
        padding: 30px 0;
    }
}    
.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 767px){
    .About {
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}    
@media screen and (max-width: 767px){
    .About {
        flex-direction: column;
    }
}    
@media screen and (max-width: 1024px){
    .About {
        flex-direction: column;
    }
}    
.About_title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    width: 53%;
}
@media screen and (max-width: 1024px){
    .About_title {
        margin-bottom: 0;
        width: 100%;
    }
}    
@media screen and (max-width: 767px){
    .About_title {
        margin-bottom: 40px;
    }
}    
.About_title h2, .About_title p {
    color: #fff;
    text-align: left;
}
.About_title h2 {
    font-size: 40px;
    letter-spacing: 1px;
    width: 100%;
}
@media screen and (max-width: 767px){
    .About_title h2 {
        font-size: 30px !important;
        line-height: 1.2;
        text-align: center;
    }
}    



.About_title h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 74px;
}
.About_title br {
    display: none;
}
@media screen and (max-width: 767px){
    .About_title br {
        display: block;
    }
}    
.About_title h2>span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
@media screen and (max-width: 767px){
    .About_title h2>span {
        font-size: 33px;
    }
}   
.About_title h2 span {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
}
@media screen and (max-width: 767px){
    .About_title h2 span {
        font-size: 30px;
        letter-spacing: 1px;
    }
}    
.About_title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 15px;
}
.About_title p {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 767px){
    .About_title p {
        font-size: 16px;
        line-height: 21px;
    }
}    
.About_button {
    width: 250px;
}
@media screen and (max-width: 1024px){
    .About_button {
        margin-top: 40px;
    }
}    
    @media screen and (min-width: 768px){
    .About_button a {
    transition: opacity 0.2s;
    }
}    
.About_button a {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #F79214 !important;
    background-color: #fff;
}
.About_button a span:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.About_button a span:last-child {
    font-size: 12px;
    line-height: 18px;
}
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}
